body
{
  display:flex;
  justify-content:center;
  min-height:200vh;
  background:lightblue;
}
.box
{
  width:400px;
}
.box h2
{
   color:black;
   background:#38ACEC;
   padding:10px 30px;
   font-family:bold;
}
.box ul li
{
  padding:8px;
  width:70%;
  background:#82CAFA;
  box-shadow:0 4px 16px rgba(0,0,0,.2);
  transition:transform 0.5s;
}
.box ul li:hover
{
   transform:scale(1.1);
   background:4863A0;
   color:black;
   box-shadow:0 4px 16px rgba(0,0,0,.2);
}