.one{
background-color:#6EC1F8;
height:200px;
}
.one h1{
color:#36013F;
text-align:center;
font-size:45px;
font-family:bold;
}
.one h3
{
color:36013F;
text-align:center;
font-size:35px;
font-family:times new roman;
}